services:
  felidae:
    image: {{ felidae_docker_image }}
    container_name: {{ felidae_docker_container_name }}
    restart: {{ felidae_docker_restart }}
    volumes:
      - {{ felidae_home }}/{{ felidae_volume_path }}:/home/felidae/.local/share/press/freedom/felidae/storage
    networks:
      - {{ felidae_docker_network }}
    ports:
      - "{{ felidae_query_external_port }}:{{ felidae_query_internal_port }}"
      - "127.0.0.1:{{ felidae_abci_external_port }}:{{ felidae_abci_internal_port }}"
    command:
      - /usr/bin/felidae
      - start
      - --abci
      - "{{ felidae_abci_internal_port }}"
      - --query
      - "{{ felidae_query_internal_port }}"

networks:
  {{ felidae_docker_network }}:
    external: true
    name: {{ felidae_docker_network }}
